<div class="container">
  <div class="avtar">
    <img src="https://img.staticmb.com/mbcontent/images/uploads/2022/9/Sundar-Pichai's-Latest-Updates.jpg" alt="" />
  </div>
  <div class="menus">
    <img
      src="https://www.svgrepo.com/show/418842/community-group-leader.svg"
      alt="1"
    />
    <img
      src="https://www.svgrepo.com/show/497557/status.svg"
      alt="2"
    />
    <img
      src="https://www.svgrepo.com/show/533266/message-square-lines.svg"
      alt="3"
    />
    <img
      src="https://www.svgrepo.com/show/438160/navigation-dots-more-vertical-option-icon.svg"
      alt="4"
    />
  </div>
</div>
