<div class="container">
  <div class="avtar">
    <img src="https://img.staticmb.com/mbcontent/images/uploads/2022/9/Sundar-Pichai's-Latest-Updates.jpg" alt="" />
  </div>
  <div class="menus">
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/7027362b355de42f6cb13045d2aa1fc9efd9af2b/community.svg"
      alt="1"
    />
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/7027362b355de42f6cb13045d2aa1fc9efd9af2b/statusIcon.svg"
      alt="2"
    />
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/7027362b355de42f6cb13045d2aa1fc9efd9af2b/chatIcon.svg"
      alt="3"
    />
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/7027362b355de42f6cb13045d2aa1fc9efd9af2b/moreVertIcon.svg"
      alt="4"
    />
  </div>
</div>
